[submodule "file-handling"]
	path = file-handling
	url = https://github.com/radRoy/file-handling.git
[submodule "file_handling"]
	path = file_handling
	url = https://github.com/radRoy/file_handling.git
